div.zu-top{
	background-color: #0767c8;
	border-bottom: 1px solid #044e97;
	width: 100%;
	height: 45px;
	position: absolute;	
	left: 0;
	top: 0;
}

.zg-wrap{
	width: 960px;
	height: 45px;
	margin: 0 auto;
}

.zu-top-link-logo{
	background-image: url(http://static.zhihu.com/static/img/sticky_header/new_logo.png);
	background-repeat:no-repeat;
	background-position: 0 8px;
	color: #fff;
	width: 61px;
	height: 45px;
	float: left;
}

.top-nav-profile{
	float: right;
	width: 120px;
	text-align: center;
	position: relative;
	z-index: 4;
}

.top-nav-profile:hover{
	background-color: rgb(7,95,182);
}

.zu-top-nav-userinfo{
	color: #fff;
	line-height: 45px;
	text-indent: 46px;
	text-decoration: none;
	font-size: 14px;
}

.top-nav-profile .avatar{
	margin: 9px 0 0 20px;
	float: left;
	width: 25px;
	height: 25px;
	border:1px solid rgba(0,0,0,.1);
}

.zu-top-search-input{
	padding: 7px 10px;
	font-size: 14px;
	width: 345px;
	margin: 5px 0 0 12px;
	border-radius: 4px;
	outline: none;
}

.icon-magnify-q{
	position: absolute;
	left: 620px;
	top: 15px;
	width: 13px;
	height: 15px;
	background-position: -239px -60px;
	vertical-align: -4px;
	background-image: url(http://static.zhihu.com/static/img/sprites-1.9.2.png);
	background-repeat: no-repeat;
}

#zh-top-search-form{
	width: 360px;
	display: inline-block;
}

.zu-top-add-question{
	margin: 0 0 0 20px;
	background: #0d77e4;
	background-color: #0e78e7;
	background-image: -webkit-linear-gradient(top,#0e7bef,#0d73da);
	background-repeat: repeat-x;
	color: #fff;
	font-size: 14px;
	width: 62px;
	height: 32px;
	text-align: center;
	text-shadow:0 1px 1px rgba(0,0,0,.12);
	border:1px solid #045bb2;
	border-radius: 4px;
}

.zu-top-nav{
	list-style: none;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 660px;
	height: 46px;
}

.zu-top-nav-ul{
	padding: 0;
	margin: 0 0 0 96px;
	width: 216px;
}

.zu-top-nav-li{
	list-style: none;
	padding: 0;
	position: relative;
	float: left;	
	font-size: 14px;
	width: 54px;
	height: 45px;
	text-align: center;
	line-height: 47px;
}

.top-nav-noti{
	list-style: none;
	padding: 0;
	position: relative;
	float: left;	
	font-size: 14px;
	width: 54px;
	height: 45px;
	text-align: center;
	line-height: 47px;
	cursor: pointer;
}

.zu-top-nav-link{
	text-decoration: none;
	color: #eee;
}

.zu-top-nav-link:hover{
	color: #fff;
}

.zg-clear{
	height: 1%;
}

.zg-claer:before,.zg-clear:after{
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}

.top:after{
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;	
}

.top-nav-dropdown{
	margin: 0;
	padding: 0;
	display: none;
	z-index: 120;
}

.top-nav-dropdown li{
	list-style: none;
	background-color: rgb(7,95,182);
	border:1px solid rgb(9,95,179);
}

.top-nav-dropdown li:first-child{
	position: relative;
}


.top-nav-dropdown li:hover{
	background-color: #0767c8;
	cursor: pointer;
}

.third-list{
	position: absolute;
	right: -122px;
	top:-1px; 
	display: none;
}

.zu{
	padding-top: 46px;
	margin: 0;
}

.top-nav-dropdown a{
	height: 41px;
	width: 120px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	display: inline-flex;
}

.zg-icon{
	background-image: url(http://static.zhihu.com/static/img/sprites-1.9.2.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	margin: 12px 11px 0 15px;
	vertical-align: -7px;
}

.zg-icon-dd-home{
	background-position: -6px -7px;
}

.zg-icon-dd-pm{
	background-position: -6px -34px;
}

.zg-icon-dd-settings{
	background-position: -6px -60px;
}

.zg-icon-dd-logout{
	background-position: -6px -87px;
}

.main{
	height: 1000px;
}

.current{
	background: rgb(7,95,182);
}

.tripple{
	position: absolute;
	top:28px;
	left: 933px;
	width: 0;
	height: 0;
	border:11px solid;
	border-color: transparent transparent white transparent;
	display: none;
}

.zu-top-nav-live-inner{
	position: absolute;
	top: 48px;
	left: 788px;
	width: 315px;
	border:1px solid #ddd;
	border-radius: 5px;
	z-index: 3;
	display: none;
	background-color: white;
}

.zm-noti7-popup-tab-item{
	width: 33%;
	height:34px;
	float: left;
	border:0;	
	background: none;
	opacity: 0.6;
	outline: none;
	padding: 0;
	position:relative;
}

.zm-noti7-popup-tab-item:hover{
	opacity: 1;
}

.icon{
	background-image: url(../images/sprites-1.9.2.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 16px;
	display: inline-block;
	/*margin: 0 auto;*/
	cursor: pointer;
	vertical-align: middle;
}

.new-noti{
	border-radius: 15px;
	background: #3098EB;
	width: 6px;	
	height: 6px;	
	display: none;
	position: absolute;
	top: 13px;
	left: 68px;
}

.message span{
	background-position: -94px -66px;
}

.user span{
	background-position: -123px -65px;
}

.thanks span{
	background-position: -151px -65px;
}

.current.message span{
	background-position: -94px -87px;
}

.current.user span{
	background-position: -123px -87px; 
}

.current.thanks span{
	background-position: -151px -87px;
}

.current{
	opacity: 1;
}
/*.current . span*/

.user{
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.zh-scroller-inner{
	width: 315px;
	height: 300px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.zm-noti7-popup-empty{
	color: #999;
	width: 312px;
	height: 20px;
	text-align: center;
	font-size: 13px;
	position: absolute;	
	top: 175px;
}

.clearfix{
	overflow:auto;_height:1%
}

.zm-noti7-popup-footer-all{
	float: right;
	color: #999;
	padding: 6px 12px;
	font-size: 13px;
	text-decoration: none;
}

.zm-noti7-popup-footer-all:hover{
	text-decoration: underline;
}

.zm-noti7-popup-footer-set{
	padding: 6px 12px;
	display: inline-block;
}

.zg-icon-settings{
	background-position: -88px -148px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.zu-main{
	margin: 0 auto;
	padding:25px 0 50px;
	position: relative;
}

.zg-icon-feedlist{
	width: 16px;
	height: 16px;	
	vertical-align: -4px;
	margin: 0 5px 0 0;
	background-position: -71px -88px;
	display: inline-block;
}

body{
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
	font-size: 13px;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

ul{
	padding: 0;
	margin: 0;
}

#zh-home-list-title{
	font-size: 14px;
	color: #666;
	font-weight: 700;
	line-height: 23px;
	margin-bottom: 10px;
}

.zg-right{
	float: right;
}

.left{
	/*float: left;*/
	width: 632px;
}
.right{
	float: right;
	width: 270px;
	/*z-index: -100;*/
}

/*.zu-main-sidebar{
	float: left;
}
*/
.zg-link-gray-normal{
	color: #999;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
}

.zg-link-gray-normal:hover{
	color: #698ebf;
}

.zm-side-nav-link .zg-icon{
	margin: 0 2px 0 0;
	width: 14px;
	height: 14px;
	vertical-align: -2px;
	display: inline-block;
}

.zg-icon-sidenav-invite{
	background-position: -200px -4px;
}

a:hover>.zg-icon-sidenav-invite{
	background-position: -200px -24px;
}

.zg-icon-sidenav-draft{
	background-position: -152px -4px;
}

a:hover>.zg-icon-sidenav-draft{
	background-position: -152px -24px;
}

.zg-icon-sidenav-fav{
	background-position: -167px -4px;
}

a:hover>.zg-icon-sidenav-fav{
	background-position: -167px -24px;
}

.zg-icon-sidenav-follow{
	background-position: -183px -4px;
}

a:hover>.zg-icon-sidenav-follow{
	background-position: -183px -24px;
}

.zg-icon-sidenav-all{
	background-position: -217px -4px;
}

a:hover>.zg-icon-sidenav-all{
	background-position: -217px -24px;
}

.zg-icon-sidenav-plaza{
	background-position: -234px -4px;
}

a:hover>.zg-icon-sidenav-plaza{
	background-position: -234px -24px;
}

.zg-icon-sidenav-debuts{
	background-position: -287px -4px;
}

a:hover>.zg-icon-sidenav-debuts{
	background-position: -287px -24px;
}

.zg-icon-sidenav-publicedit{
	background-position: -269px -4px;
}

a:hover>.zg-icon-sidenav-publicedit{
	background-position: -269px -24px;
}



.zm-side-nav-link{
	position: relative;
	padding: 0 0 0 10px;
	display: block;
	height: 28px;
	line-height: 28px;
	width: 270px;
}

.zm-side-nav-li{
	margin-bottom: 3px;
}

.zm-side-nav-group{
	margin-bottom: 10px;
}



.zm-noti7-content-item.unread{
	background: #eff6fa;
	border-bottom: 1px solid #d1e0e8;
	padding: 7px 11px;
	height: 44px;
	width: 293px;
	position: relative;
}

.zm-profile-section-item{
	padding: 0;
	position: relative;
}

.zm-profile-section-item .zm-item-link-avatar img{
	width: 40px;
	height: 40px;
	border-radius: 4px;
	margin: 0 10px 0 0;
}

.zm-profile-section-item .zm-item-link-avatar{
	float: left;
	border:0 none;
}

.zm-list-content-medium{
	margin-left: 50px;
}

.zg-link{
	cursor: pointer;
	text-decoration: none;
	color: #259;
	line-height: 23px;
}

.zg-gray-normal{
	color: #999;
	font-weight: 400px;
}

.zu-main-feed-con{
	border-top: 1px solid #ccc;
	width: 100%;
}

.feed-item{
	padding: 10px 0;
	position: relative;
	margin-left: 0;
	outline: 0;
	margin-bottom: 1px solid #eee;
}

.feed-item.avatar,.feed-item.avatar a,.feed-item .avatar img{
	display: block;
	width: 38px;
	height: 38px;
}

.feed-item .avatar{
	float: left;
	margin: 0;
	border:0;
}

.feed-main{
	margin-left: 48px;
}

.feed-item .source,.feed-item .meta-item{
	color: #999;
}

.feed-item .source a{
	color: #999;
}

.feed-item .source a:hover{
	color: #259;
}

.feed-item .content h2{
	margin-right: 20px;
	height: 28px;
	line-height: 2.2;
	color: #259;
}

h2 .question_link{
	color: #259;
}

h2,h3{
	font-weight: 700;
	font-size: 14px;
	outline: 0;
	margin: 0;
}

.feed-item .entry-body{
	margin-top: 3px;
}

.entry-body .zmitem-vote,.zm-item-answer .zm-item-vote,.zm-item-feed .zm-item-vote,.zm-item-answer .zm-item-answer-summary{
	display: block;
}

.feed-item .zm-item-vote{
	margin-top: 9px;
}

.zm-item-vote{
	position: absolute;
	left:0;
}

.zm-item-vote-count{
	display: block;
	color: #698ebf;
	height: 24px;
	line-height: 24px;
	width: 38px;
	border-radius: 3px;
	border:0;
	cursor: pointer;
	background: #eff6fa;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}

.feed-item .zm-votebar{
	display: none;
	margin-top: -1px;
}

.zm-votebar{
	float: left;
	margin-left: -48px;
}

.goog-scrollfloater{
	z-index: 9;
}

.zm-votebar .up{
	height: 44px;
}

.zm-votebar .up,.zm-votebar .down{
	display: block;
	color: #698ebf;
	line-height: 24px;
	width: 38px;
	border-radius: 3px;
	border:0;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	background: #eff6fa;
}

.zm-votebar .down{
	height: 24px;
}

.zm-votebar .up .vote-arrow{
	border-top-width: 0;
	border-bottom-color: #698ebf;
	border-top-style: solid;
}

/*.zm-votebar .up .vote-arrow:hover{
	border-bottom-color: white;
}
*/
.zm-votebar .vote-arrow{
	width: 0;
	height: 0;
	border:6px solid transparent;
	font-size: 0;
	background-image: none;
}

.zm-votebar .label{
	display: block;
	text-indent: -9999px;
}

.zm-votebar .count{
	position: absolute;
	top: 18px;
	left: 0;
	width: 100%;
}

.zm-votebar .down{
	margin: 5px 0 0;
}

.zm-votebar .down .vote-arrow{
	border-bottom-width: 0;
	border-top-color: #698ebf;
}

/*.zm-votebar .down .vote-arrow:hover{
	border-top-color: white;
}*/

.zm-votebar .up:hover,.zm-votebar .down:hover{
	background: #698ebf;
	color: #fff;
	border-top-color: white;
	border-bottom-color: white;
}


.feed-item .zm-item-vote-info,.feed-item .zm-item-answer-author-info{
	margin-bottom: 2px;
}

.zm-item-answer-author-wrap,.zm-item-answer-author-wrap a{
	font-size: 13px;
	color: #222;
	height: 22px;
}

body,input,textarea,select,button{
	line-height: 1,7;
	font-size: 13px;
	padding: 0;
	margin: 0;
	color: #222;
	word-wrap:break-word;
}

a:hover{
	text-decoration: underline;
}

.zm-item-vote-info{
	display: none;
}

.hidden{
	display: none;
}

.zm-item-answer-author-info .collapse{
	display: none;
	cursor: pointer;
}

.zh-summary{
	line-height: 1.7;
	cursor: pointer;
}

a.toggle-expand{
	color: #259;
	display: inline-block;
	padding: 0 3px;
	border-radius: 2px;
	font-size: .9em;
	cursor: pointer;
}

.zh-summary:hover a.toggle-expand{
	background-color: #eff6fa;
}

.zm-item-meta{
	position: relative;
	color: #999;
}

.zm-item-meta .zm-meta-panel{
	background: transparent;
}

.zm-meta-panel{
	padding:5px 0;
	margin-bottom: -5px;
}

.zm-meta-panel>a,.zm-meta-panel>span{
	display: inline-block;
	vertical-align: middle;
}

.meta-item+.meta-item{
	margin-left: 7px;
}

i[class^=z-icon-],i[class*="z-icon-"]{
	display: inline-block;
	line-height: 10px;
	vertical-align: 0;
	background-image: url(../images/sprites-1.9.2.png);
	background-repeat: no-repeat;
	margin-right: 5px;
}

.z-icon-follow{
	width: 8px;
	height: 9px;
	background-position: -97px -23px;
}



.meta-item:hover .z-icon-follow{
	background-position: -97px -38px;
}

.z-icon-comment{
	width: 9px;
	height: 10px;
	background-position: -28px -22px;
}

.meta-item:hover .z-icon-comment{
	background-position: -28px -37px; 
}

.z-icon-thank{
	width: 10px;
	height: 10px;
	background-position: -41px -22px;
}

.meta-item:hover .z-icon-thank{
	background-position: -41px -37px;
}

.z-icon-share{
	width: 11px;
	height: 10px;
	background-position: -67px -22px;
}

.meta-item:hover .z-icon-share{
	background-position: -67px -37px;
}

.z-icon-collect{
	width: 7px;
	height: 10px;
	background-position: -56px -22px;
}

.meta-item:hover .z-icon-collect{
	background-position: -56px -37px;
}

.z-icon-fold{
	width: 8px;
	height: 9px;
	background-position: -135px -22px;
}


.zm-side-nav-link .z-ico-community{
	display: inline-block;
	position: relative;
	top: 1px;
	left: -1px;
	margin-right: 2px;
}

.z-ico-community{
	background-image: url(../images/icons_0d88bbeb78.png);
	background-repeat: no-repeat;
	background-size: 67px 59px;
}

.z-ico-community{
	background-position: -17px -45px;
	width: 14px;
	height: 13px;
}

/*.zm-side-nav-link:hover*/

.z-ico-container:hover .z-ico-community{
	background-position: -1px -45px;
	width: 14px;
	height: 13px;
}

.zm-side-nav-group+.zm-side-nav-group{
	padding-top: 10px;
	border-top:1px solid #eee;
}

.zg-bull{
	padding: 0 3px;
	font-family: Arial;
	color: #BBB;
	display: inline-block;
}

.feed-item .collapse{
	display: none;
	float: right;
}

.meta-item.zu-autohide{
	display: none;
}

.meta-item:hover{
	color: #698ebf;
}

.zg-follow:hover{
	color: #259;
}

.meta-item:hover .z-icon-fold{
	background-position: -135px -37px;
}

textarea.content{
	border:0;
	outline: 0;
	overflow: auto;
	resize:none;
	font-size: 13px;
	line-height: 1.7;
	margin: 0;
	height: auto;
	width: auto;
	-webkit-appearance:none;
}

.zm-editable-content{
	display: none;
}

a.answer-date-link{
	display: block;
}

.dislike-wrap .close{
	position: absolute;
	right: 0;
	top: -3px;
	display: inline-block;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	background-image: url(../images/sprites-1.9.2.png);
	background-repeat:no-repeat;
	background-position: -261px -62px;
}

.ignore{
	position: absolute;
	right: 0;
	top: 11px;
	display: inline-block;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	background-image: url(../images/sprites-1.9.2.png);
	background-repeat:no-repeat;
	background-position: -261px -62px;
}

.dislike-wrap{
	margin-left: 48px;
	position: relative;
	display: none;
	color: #999;
}

.zm-side-nav-link:hover{
	background-color: #eff6fa;
	color: #259;
	border-radius: 3px;
	text-decoration: none;
}

a.zm-side-nav-link{
	color: #666;
}

.zm-side-list-content{
	padding-top: 15px;
	border-top: 1px solid #eee;
}

.zm-side-section{
	margin-bottom: 15px;
	position: relative;
}

.zu-main-sidebar h3,.zm-side-section h3,.zm-main-sidebar h2,.zm-side-section h2{
	margin-bottom: 10px;
}

.zg-link-litblue{
	font-size: 12px;
}

.zg-link-litblue,.zg-link-litblue-normal{
	color: #698ebf;
	font-weight: 400;
}

.zg-link-litblue:hover,.zg-link-litblue-normal:hover{
	color: #259;
}

.zm-side-nav li{
	position: relative;
}

.zm-side-nav-li{
	display: block;
	margin-bottom: 3px;
	list-style: none;
	position: relative;
}

.zm-side-nav-roundtable .follow-link{
	position: absolute;
	right: 12px;
	line-height: 25px;
	top: 5px;
	display: none;
	color: #698ebf;
}

.zm-side-pinned-topics .zm-side-nav-link{
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 25px;
}



a.zm-side-nav-link{
	color: #666;
}


.zm-side-pinned-topics .photo img{
	margin: 0;
	width: 25px;
	height: 25px;
	border-radius: 3px;
}

.zm-side-pinned-topics .zm-side-nav-link img{
	vertical-align: top;
	margin-right: 5px;
}


.zm-side-nav{
	margin-left: -10px;
}

.side-roundtable-hint{
	padding-right: 12px;
	color: #999;
}

.zm-side-nav-link{
	position: relative;
	padding: 0 0 0 10px;
	display: block;
	height: 28px;
	line-height: 28px;
	color: #666;
}


.zm-side-pinned-topics .zm-side-nav-link+.unpin{
	position: absolute;
	top: 6px;
	right: 7px;
	display: none;
}

a.unpin,a.pin{
	margin-left: 3px;
}

.zu-main-sidebar .zh-footer{
	margin-top: 10px;
	text-align: left;
}

.zh-footer, .zh-footer a{
	color: #999;
}

.zh-footer{
	clear: both;
	text-align: right;
}


.zu-main-sidebar .zh-footer .zg-wrap{
	padding: 10px 0;
	width: auto;
	border-top-color: #eee;
}

.zh-footer .zg-wrap{
	padding: 20px 15px;
	border-top: 1px solid #ccc;
}

.zh-footer ul,.zh-footer li{
	display: inline;
}

.zh-footer li{
	list-style: none;
}

.zh-footer li+li:before{
	margin-right: 3px;
	content:'·';
	padding: 0 3px;
	color: #BBB;
	display: inline-block;
	font-family: Arial;
}














